:root {
	--indentY: 6rem 2rem;
	--innerIndentY: 3rem;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {	
	display: flex;
	flex-direction: column;
	overflow-x:hidden;
	font-family:monospace;
}

.presentation {
	background-color: rgba(0, 0, 0, 0.9);
	position: relative;
	display: flex;	
	height: 100vh;
	width: 100vw;
	justify-content: center;
	color: #fff;
	overflow:hidden;
}

.presentation .avatar {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 200px;
	overflow: hidden;
	position: relative;
	opacity: 0;
	transition: opacity 3s;
	z-index: 2;
}

.presentation .avatar.active {
	opacity: 1
}

.presentation .avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

.presentation_info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	text-align: center;
	position: absolute;
	right: 5%;
	top: 30%
}

.name, .email, .phone{
	color: rgb(223, 223, 223);
	transform: translateX(130%);
	opacity: 0;
}

.name {
	letter-spacing: 10px;
	text-transform: capitalize;
	font-size: 110px;
	margin-bottom: 2rem;
	transition: transform 1.2s ease .3s;
}

.email {
	font-size: 36px;
	margin-bottom: 1rem;
	transition: transform 1.2s ease .6s;
}

.phone {
	font-size: 36px;
	transition: transform 1.2s ease .9s;
}

.name.active, .email.active, .phone.active {
	transform: translateX(0);
	opacity: 1;
}

.skills {
	padding: var(--indentY);
	background-color: rgb(248, 248, 248);
}

.skills, .experience {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skills_title, .experience_title {
	font-size: 3rem;
	letter-spacing: 10px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: var(--innerIndentY);
}

.skills_list, .experience_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	font-size: 1.5rem;
	padding: 0 1rem;
}

.skills_list-item:not(:last-child) {
	margin-right: 1rem;	
}

.skills_list-item {
	margin-bottom: .5rem;
	border: solid 2px rgb(233, 233, 233);
	color: rgb(99, 99, 99);
	border-radius: .7rem;
	padding: .5rem;
}

.experience {
	padding: var(--indentY);
}

.experience_card {
	margin-bottom: 3rem;
	border: solid 1px rgb(228, 228, 228);
	box-shadow: 4px 4px 10px gray;
	border-radius: .7rem;
	max-width: 60rem;
	padding: 1rem;	
	
}

.anim_show {
	opacity: 0;
	transform: translateY(100%);
	transition: all .8s ease 0s;
}

.anim_show.anim,
.anim .anim_show {
	opacity: 1;
	transform: translateY(0%);
}

.experience_card:not(:last-child) {
	margin-bottom: var(--innerIndentY);
}

.experience_card-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.experience_card-subtitle, .experience_card-title, .experience_card-period {
	margin-bottom: .5rem;
}

.experience_card-subtitle a {
	text-decoration: none;
}

.experience_card-comment {
	font-size: 1.2rem;
	font-style: italic;
}

.about, .question {
	padding: var(--indentY);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about {
	text-align: center;
	font-size: 2.5rem;
	font-style: italic;
	background-color: rgb(247, 254, 255);
}

.about::before, .about::after {
	content: "";
	background-color: black;
	width: 8rem;
	height: 2px;
}

.about::before {
	margin-bottom: var(--innerIndentY);
}

.about::after {
	margin-top: var(--innerIndentY);
}

.question {
	position: relative;
}

.question_title {
	text-align: center;
	margin-bottom: var(--innerIndentY);
	font-size: 2.5rem;
	font-weight: bold;
}

.image img {
	width: 2rem;
}

.question_answer {
	margin-top: var(--innerIndentY);
	font-size: 2rem;
	font-style: italic;
	text-align: center;
}

footer {
	height: 5rem;
	background-color: rgb(248, 248, 248);
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(180, 180, 180);
	text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
	.name {
		font-size: 70px;
	}

	.email, .phone {
		font-size: 28px;
	}
}

@media screen and (max-width: 880px) {
	.name {
		font-size: 50px;
	}

	.email, .phone {
		font-size: 26px;
	}

	:root {
		--innerIndentY: 2rem;
	}
}

@media screen and (max-width: 650px) {
	.name {
		font-size: 35px;
	}

	.email, .phone {
		font-size: 20px;
	}
}

@media screen and (max-width: 500px) {
	.name {
		letter-spacing: 5px;
	}

	.email, .phone {
		font-size: 20px;
	}

	.anim_show {
		transform: translateY(10%);
	}

	.about {
		font-size: 1.5rem;
	}

	.about::before, .about::after {
		width: 4rem;
	}

	.question_title {
		font-size: 2rem;
	}

	.question_answer {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 400px) {
	.presentation_info {
		top: 40%;
	}

	.name {
		font-size: 30px;
		letter-spacing: 5px;
	}

	.email, .phone {
		font-size: 18px;
	}

	.skills_title, .experience_title {
		font-size: 2.5rem;
	}

	:root {
		--innerIndentY: 1.5rem;
	}
}

@media (orientation: landscape) and (max-height: 850px) {
	.anim_show {
		transform: translateY(50%);
	}
}

@media (orientation: landscape) and (max-height: 650px) {
	.presentation_info {
		top: 40%;
	}

	.name {
		margin-bottom: 2rem;
	}

	.email, .phone {
		margin-bottom: 1rem;
	}

	.anim_show {
		transform: translateY(30%);
	}
}

@media (orientation: landscape) and (max-height: 450px) {
	.presentation_info {
		top: 50%;
	}

	.name {
		font-size: 50px;
		margin-bottom: 1rem;
	}

	.email, .phone {
		font-size: 26px;
		margin-bottom: 1rem;
	}

	.anim_show {
		transform: translateY(10%);
	}
}

@media (orientation: landscape) and (max-height: 400px) {
	.presentation_info {
		top: 55%;
	}
}